backend:
  name: git-gateway
  branch: main
media_folder: "public/assets/blog"
public_folder: "/assets/blog"
collections:
  - name: "blog"
    label: "Blog"
    folder: "src/blog"
    create: true
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}"
    fields:
      - { label: "Title", name: "title", widget: "string", required: false }
      - {
          label: "Description",
          name: "description",
          widget: "string",
          required: false,
        }
      - { label: "Author", name: "author", widget: "string", required: false }
      - { label: "Date", name: "date", widget: "datetime", required: false }
      - {
          label: "Tags",
          name: "tags",
          widget: "list",
          default: ["post"],
          required: false,
        }
      - {
          label: "Featured Image",
          name: "image",
          widget: "image",
          required: false,
        }
      - {
          label: "Image Caption",
          name: "imageAlt",
          widget: "string",
          required: false,
        }
      - {
          label: "Upload Video",
          name: "video",
          widget: "file",
          media_library: { allow_multiple: false },
          required: false,
        }
      - { label: "Body", name: "body", widget: "markdown", required: false }
      - {
          label: "Upload PDF",
          name: "pdf",
          widget: "file",
          media_library: { allow_multiple: false },
          required: false,
        }
      - {
          label: "Status",
          name: "status",
          widget: "select",
          options: ["draft", "published"],
          required: true,
        }
