---
title: Blog
layout: 'base.njk'
---

<main class="page-main">
  <section class="section">
    <div class="container">
      <h1 class="section-title">Recent articles</h1>

      <ul role="list" class="articles__list flow">
        {%- for post in collections.post | reverse -%}
          {% include 'article-snippet.njk' %}
        {%- endfor -%}
      </ul>
    </div>
  </section>
</main>
