---
title: My homepage
layout: "base.njk"
---

<section class="hero">
  <div class="container flow">
    <div class="hero__content flow">
      <h1 class="section-title">Welcome to my blog!</h1>
      <p>
        In the rising age of AI, it is more important than ever to have a sharp
        mind and a solid understanding of what you know and what you are doing.
        Mathematical problems and puzzles are a great way to maintain and
        continuously train your brain, improving your problem-solving skills.
        This blog is dedicated to sharing interesting mathematical problems and
        puzzles that I have solved—many of which challenged me at first, as the
        solution is not always straightforward or obvious. I hope whoever reads
        my posts will find them educational, and take an interest to sharpen
        their brain to keep it brain-fresh, not brain-rotted.
      </p>
      <div class="flex-group">
        <a href="#featured-articles" class="btn btn--primary"
          >Featured articles</a
        >
        <a href="./blog" class="btn btn--neutral">Most recent articles</a>
      </div>
    </div>
    <div>
      <img
        id="heroImage"
        src="/assets/hero/math-01.png"
        alt="Math hero image"
        class="hero__image"
      />
    </div>
  </div>
</section>

<section id="featured-articles" class="featured-articles">
  <div class="container flow">
    <h2 class="section-title text-center">Featured articles</h2>
    <p class="text-center">
      Here is a sample of articles which I feel give you a good idea of what
      this site is all about.
    </p>
    <ul role="list" class="articles__list flow">
      {%- for post in collections.featured | reverse -%} {% include
      'article-snippet.njk' %} {%- endfor -%}
    </ul>
  </div>
</section>
